.landing {
  background-image: url(../assets/backgrounds/landing.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 10%;
  padding-bottom: 8%;
}

.main-logo {
  text-align: center;
}

2 .Meals {
  color: white;
  text-align: center;
}

.happy-hour {
  color: black;
  background-color: white);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 6%;
  padding-bottom: 5%;
  text-align: center;
}

.party-time {
  background-color: #F15A29;
  padding-top: 6%;
  padding-bottom: 5%;
  color: white;
  text-align: center;
  background-size: 100%;
}

.breakfast {
  background-image: url(../assets/foodtop/breakfast.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}

.lunch {
  background-image: url(../assets/foodtop/lunch.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}

.dinner {
  background-image: url(../assets/foodtop/dinner.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
}

.col-md-6 {
  padding-left: 0%;
  padding-right: 5%;
  margin-top: 5%;
  width: 50%;
}

.col-md-6 .fastFood-pic .well {
  background-color: white;
  float: right;
  border-radius: 0;
  box-shadow: 0 0 10px;
}

.fastFood {
  float: left;
  margin-left: 1%;
  width: 65%;
}

.drinks {
  float: right;
  margin-left: 1%;
  width: 65%;
}

.col-md-6 .drinks-pic .well {
  background-color: white;
  float: left;
  border-radius: 0;
  box-shadow: 0 0 10px;
}


/*
col-md-6 .well {
  position: absolute;
  box-shadow: 0px 0px 10px;
  padding: 10%;
  background-color: white;
  border-radius: 0%;
  float: right;
}*/
